$bottom-right-position: bottom 14vh right 2vh;

@mixin btns {
    display: block;
    text-align: center;
    margin: 0;

    & button {
        margin: 1rem 1.5rem 1rem 1.5rem;
    }
}

@media (max-width: 375px) {
    body {
        display: block;
        margin: 4rem 1rem 1rem 1rem;
    }

    .container {
        display: block;

        #area1 {
            margin: 0rem 1rem 1rem 1rem;
            background-position: $bottom-right-position;
        }
    
        #area2, #area3, #area4, #area5, #area6, #area7 {
            margin: 0rem 1rem 3rem 1rem;
            background-position: $bottom-right-position;
        }
    }

    section {
        position: relative;
        top: 27px;
    }

    .area-buttons {
        @include btns;

        &:hover {
            @include btns;
        }
    }

    .area-name {
        display: flex;

        .area-image img {
            width: 55%;
        }
    }

    .area-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }