@import 'config';
@import 'mobile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $very-dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 1440px;
    display: grid;
    gap: 20px;
    grid-template-areas:
    'personal-data . . .'
    'personal-data . . .';
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 160px 160px;
}

section {
    background-color: $dark-blue;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#area1 {
    grid-area: personal-data;
}