@import 'config';

@mixin backgr($path, $color) {
    background-image: url($path);
    background-color: $color;
    background-repeat: no-repeat;
    background-position: bottom 16vh right 2vh;
    background-size: 3.7rem;
}

@mixin btns {
    all: unset;
    cursor: pointer;
    margin: 0.3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $very-dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 1440px;
    display: grid;
    gap: 20px;
    grid-template-areas:
    'personal-data . . .'
    'personal-data . . .';
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 180px);

    #area1 {
        grid-area: personal-data;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #area2 {
        @include backgr('../images/icon-work.svg', $light-red-work);
    }
    #area3 {
        @include backgr('../images/icon-play.svg', $soft-blue-play);
    }
    #area4 {
        @include backgr('../images/icon-study.svg', $light-red-study);
    }
    #area5 {
        @include backgr('../images/icon-exercise.svg', $lime-green-exercise);
    }
    #area6 {
        @include backgr('../images/icon-social.svg', $violet-social);
    }
    #area7 {
        @include backgr('../images/icon-self-care.svg', $soft-orange-self-care);
    }
}

section {
    background-color: $dark-blue;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.area-backg {
    border-radius: 10px;
    padding: 1rem;

    .area-title-dots {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .area-title, .area-buttons button, .dots {
            font-size: 18px;
            font-weight: 400;
        }
    
        .area-title {
            margin: 0rem 0.5rem 1.5rem 0.5rem;
        }
    
        .dots {
            margin: 0rem 0.5rem 0rem 0rem;
        }
    }

    .area-data {
        .area-daily-current {
            font-size: 45px;
            font-weight: 300;
        }

        .area-daily-current, .area-daily-previous {
            margin: 0rem 0.5rem 0rem 0.5rem;
        }
    }
}

.area-daily-previous, .area-report {
    font-size: 13px;
    opacity: 0.7;
}

.area-name {
    background-color: $blue;
    border-radius: 10px;

    .area-image img {
        margin: 1.5rem;
        width: 30%;
        border-width: medium;
        border: solid;
        border-radius: 50%;
    }

    .area-actual-name {
        margin: 0rem 1.5rem 3rem 1.5rem;
        font-size: 35px;
        font-weight: 300;
    }
    
    .area-report {
        margin: 0.5rem 1.5rem 0rem 1.5rem;
    }
}

.area-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;

    & button {
        @include btns;
        opacity: 0.7;
    }

    & button:hover, & button:focus {
        @include btns;
        opacity: 1;
    }
}

@import 'mobile';